# top level files
.git
.gitignore
logs/
data/
.idea/
clean-and-rebind-module.sh
run-docker.sh

# mac-specific file
**/.DS_Store

#python
*.pyc
**/.pytest_cache
**/__pycache__/
.venv/

# cpp stuff
cpp/build/
cpp/multivec_cpp_index.egg-info/
cpp/cmake-build-debug/
cpp/dist/