# IDE files
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac-specific files
**/.DS_Store

# Python files
**/__pycache__/
*.venv/**

# cpp folders
cpp/build/
cpp/multimodal_cpp_index.egg-info/
cpp/dist/
cpp/cmake-build-debug/

# profiling results
fil-result/